{% load static %}
<section id="portfolio">  
   <!-- Portfolio Starts Here -->
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Recent Client Portfolio</h2>
            <hr class="star-primary">
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
               <div class="caption">
                  <div class="caption-content">                                <i class="fa fa-search-plus fa-3x"></i>                            </div>
               </div>
               <img src="{% static 'assets/img/sophie.jpg' %}" class="img-responsive" alt="property website design portfolio">                    
            </a>
         </div>
         <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
               <div class="caption">
                  <div class="caption-content">                                <i class="fa fa-search-plus fa-3x"></i>                            </div>
               </div>
               <img src="{% static 'assets/img/move.jpg' %}" class="img-responsive" alt="property website design portfolio">                    
            </a>
         </div>
         <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
               <div class="caption">
                  <div class="caption-content">                                <i class="fa fa-search-plus fa-3x"></i>                            </div>
               </div>
               <img src="{% static 'assets/img/home.jpg' %}" class="img-responsive" alt="property website design portfolio">                    
            </a>
         </div>
         <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
               <div class="caption">
                  <div class="caption-content">                                <i class="fa fa-search-plus fa-3x"></i>                            </div>
               </div>
               <img src="{% static 'assets/img/game.jpg' %}" class="img-responsive" alt="property website design portfolio">                    
            </a>
         </div>
         <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
               <div class="caption">
                  <div class="caption-content">                                <i class="fa fa-search-plus fa-3x"></i>                            </div>
               </div>
               <img src="{% static 'assets/img/letand.jpg' %}" class="img-responsive" alt="property website design portfolio">                    
            </a>
         </div>
         <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
               <div class="caption">
                  <div class="caption-content">                                <i class="fa fa-search-plus fa-3x"></i>                            </div>
               </div>
               <img src="{% static 'assets/img/winf.jpg' %}" class="img-responsive" alt="property website design portfolio">                    
            </a>
         </div>
      </div>
   </div>
   <!-- Portfolio Modals -->
   <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
            <div class="lr">
               <div class="rl">
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                     <h2>Sophie Yates &amp; Associates</h2>
                     <hr class="star-primary">
                     <a href="http://www.propertylab.net/~sophieyates/" target="_blank">
                     <img src="{% static 'assets/img/sophie.jpg' %}" class="img-responsive img-centered" alt=""></a>
                     <p>A template website with automated feeds to property portals and full content management.</p>
                     <ul class="list-inline item-details">
                        <li>Client:
                           <strong><a href="http://www.propertylab.net/~sophieyates/" target="_blank">Sophie Yates &amp; Associates</a>
                           </strong>
                        </li>
                        <li>Date:
                           <strong><a href="http://www.propertylab.net/~sophieyates/" target="_blank">August 2014</a>
                           </strong>
                        </li>
                        <li>Service:
                           <strong><a href="http://www.propertylab.net/~sophieyates/" target="_blank">Website Development</a>
                           </strong>
                        </li>
                     </ul>
                     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
            <div class="lr">
               <div class="rl">
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                     <h2>Move Inn Estates</h2>
                     <hr class="star-primary">
                     <img src="{% static 'assets/img/move.jpg' %}" class="img-responsive img-centered" alt="">
                     <p>A bespoke website design with home page animation and full content management.</p>
                     <ul class="list-inline item-details">
                        <li>Client:
                           <strong><a href="http://www.moveinnestates.co.uk/" target="_blank">Move Inn Estates</a>
                           </strong>
                        </li>
                        <li>Date:
                           <strong><a href="http://www.moveinnestates.co.uk/" target="_blank">June 2014</a>
                           </strong>
                        </li>
                        <li>Service:
                           <strong><a href="http://www.moveinnestates.co.uk//" target="_blank">Web Development</a>
                           </strong>
                        </li>
                     </ul>
                     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
            <div class="lr">
               <div class="rl">
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                     <h2>Homeview Online</h2>
                     <hr class="star-primary">
                     <img src="{% static 'assets/img/home.jpg' %}" class="img-responsive img-centered" alt="">
                     <p>A bespoke website design for a low cost / online agency. Online ordering and payments linked to paypal.</p>
                     <ul class="list-inline item-details">
                        <li>Client:
                           <strong><a href="http://www.homeviewonline.co.uk/" target="_blank">Homeview Online</a>
                           </strong>
                        </li>
                        <li>Date:
                           <strong><a href="http://www.homeviewonline.co.uk/" target="_blank">June 2014</a>
                           </strong>
                        </li>
                        <li>Service:
                           <strong><a href="http://www.homeviewonline.co.uk/" target="_blank">Web Development</a>
                           </strong>
                        </li>
                     </ul>
                     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
            <div class="lr">
               <div class="rl">
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                     <h2>Graham Penny Auctions</h2>
                     <hr class="star-primary">
                     <img src="{% static 'assets/img/game.jpg' %}" class="img-responsive img-centered" alt="">
                     <p>A fully bespoke website that enables the client to add properties to specific auction dates in lot order.</p>
                     <ul class="list-inline item-details">
                        <li>Client:
                           <strong><a href="http://www.grahampennyauctions.com/" target="_blank">Graham Penny Auctions</a>
                           </strong>
                        </li>
                        <li>Date:
                           <strong><a href="http://www.grahampennyauctions.com/" target="_blank">March 2014</a>
                           </strong>
                        </li>
                        <li>Service:
                           <strong><a href="http://www.grahampennyauctions.com/" target="_blank">Web Development</a>
                           </strong>
                        </li>
                     </ul>
                     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
            <div class="lr">
               <div class="rl">
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                     <h2>letandsell.com</h2>
                     <hr class="star-primary">
                     <img src="{% static 'assets/img/letand.jpg' %}" class="img-responsive img-centered" alt="">
                     <p>A bespoke website that allows users to upload their own property details via the website - or via a mobile app. A payment facility and checkout process is also included.</p>
                     <ul class="list-inline item-details">
                        <li>Client:
                           <strong><a href="http://www.letandsell.com/" target="_blank">letandsell.com</a>
                           </strong>
                        </li>
                        <li>Date:
                           <strong><a href="http://www.letandsell.com/" target="_blank">July 2014</a>
                           </strong>
                        </li>
                        <li>Service:
                           <strong><a href="http://www.letandsell.com/" target="_blank">Web Development</a>
                           </strong>
                        </li>
                     </ul>
                     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
            <div class="lr">
               <div class="rl">
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                     <h2>Winfields</h2>
                     <hr class="star-primary">
                     <img src="{% static 'assets/img/winf.jpg' %}" class="img-responsive img-centered" alt="">
                     <p>A template website with a software feed from dezrez. Fully content managemed.</p>
                     <ul class="list-inline item-details">
                        <li>Client:
                           <strong><a href="http://www.winfields.uk.com/">Winfields</a>
                           </strong>
                        </li>
                        <li>Date:
                           <strong><a href="http://www.winfields.uk.com/">May 2014</a>
                           </strong>
                        </li>
                        <li>Service:
                           <strong><a href="http://www.winfields.uk.com/">Web Development</a>
                           </strong>
                        </li>
                     </ul>
                     <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Portfolio Ends Here -->
</section>